<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>FydeOS 用户协议和隐私声明</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; padding: 12px 16px }
h2 { margin-top:0 }
</style>
</head>

<body>
<h2 id="eula">FydeOS 用户协议</h2>
<hr />
<p>上一次更新时间：2021 年 9 月 9 日</p>
<hr />
<h3>用户须知</h3>
<p>在使用 FydeOS 之前，请务必仔细阅读本协议，特别是免除或者限制责任的条款、管辖与法律适用的条款，以及关于开通或者使用第三方提供的某项服务的条款。FydeOS 的所有或任意部分一经复制、安装或使用，即表示你接受本协议所规定的全部条款及条件。你可与燧炻科技创新（北京）有限责任公司（下称「燧炻创新」）直接订立另一书面协议，以补充或取代本协议的全部或任何部分。FydeOS 只在遵守本协议各项条款的情况下供许可使用，并且不得出售。燧炻创新将不时对本协议予以更新，更新内容一经正式发布即成为本协议不可分割的组成部分。在更新内容发布后继续使用 FydeOS 及燧炻创新的服务即表示你同意新的条款；如果你不同意新的条款，你应当删除 FydeOS 及停止使用燧炻创新的服务、关闭你的 FydeOS 帐户，如果你是父母或监护人，请帮助你的未成年子女或者被监护人关闭他或她的 FydeOS 帐户。如果你未满 18 周岁，请在法定监护⼈的陪同下阅读本协议及其他上述协议，并特别注意未成年⼈使用条款。</p>
<ul>
<ul>
<ul>

</ul>

</ul>

</ul>
<h3>一、软件许可声明</h3>
<h4>1.1. 许可授权</h4>
<p>我们只是为你提供使用 FydeOS 的许可，并非将 FydeOS 的所有权出售给你；在你同意所有条款之后，我们将通过许可证授予你拥有在特定设备中使用 FydeOS 的权利。许可期限到期或者终止后，在更新许可证之前，你可能无法使用 FydeOS。</p>
<h4>1.2. 许可证类型</h4>
<ul>
<li><strong>FydeOS 基础版：</strong>在许可期限内，燧炻创新免费授予你一项非排他性和不可转让的许可，以使你能够在你拥有或控制的一台或多台支持设备上安装和使用 FydeOS，以供你用于个人及非商业目的。FydeOS 基础版包含 FydeOS 的核心功能。</li>
<li><strong>FydeOS for You：</strong>每一台安装 FydeOS for You 的设备自首次启动联网激活开始获得为期 90 天的试用授权。试用授权到期前或到期后，你可在线购买 FydeOS for You 的许可授权。除免费授予你一项非排他性和不可转让的基础版许可外，燧炻创新另外授予你一项非排他性和不可转让的 FydeOS for You 的许可，作为 FydeOS 基础版功能性的延伸（详见官网内容），以供你用于个人及非商业目的。你仅可在许可期限内，根据购买的授权数量在特定设备上安装和使用 FydeOS for You。你需要通过连接互联网以激活、更新和验证许可证，如果 FydeOS 无法定期验证，可能会在未另行通知的情况下无法继续使用；你同意燧炻创新可随时改变 FydeOS for You 中包含的软件类型（例如相关组件、版本、平台、语言，增加或删除部分插件等等），且不因此类更改对你承担任何责任。经燧炻创新同意的方式，你可变更安装和使用 FydeOS for You 的设备。</li>
<li><strong>FydeOS 企业版：</strong>你可通过与燧炻创新线下磋商购买 FydeOS 企业版。除免费授予你一项非排他性和不可转让的基础版许可外，燧炻创新另外授予你一项非排他性和不可转让的 FydeOS 企业版许可，作为 FydeOS 基础版功能性的延伸（详见官网内容）。你仅可在许可期限内，根据购买的授权数量在特定设备上安装和使用企业版。你需要通过连接互联网以激活、更新和验证许可证，如果 FydeOS 无法定期验证，可能会在未另行通知的情况下无法继续使用；你同意 FydeOS 可随时改变企业版中包含的软件类型（例如相关组件、版本、平台、语言，增加或删除部分插件等等），且不因此类更改对你承担任何责任。</li>

</ul>
<h3>二、 FydeOS 的获取、安装、更新和删除</h3>
<ul>
<li>你可直接从官网或者获得燧炻创新授权的第三方处获取 FydeOS。如果你从未经燧炻创新授权的第三方处获取 FydeOS 或与 FydeOS 名称相同的安装程序，燧炻创新无法保证其能够正常使用，并对因此给你造成的损失不承担责任。</li>
<li>燧炻创新为不同的支持设备开发了不同版本，你应当根据你设备的实际情况选择或购买合适的版本。</li>
<li>下载 FydeOS 后，你需要按照官网提示的步骤正确安装。因你在安装过程中未按照提示步骤操作不当造成的损失，燧炻创新不承担责任。</li>
<li>为了完善用户体验，增强 FydeOS 的功能及性能，FydeOS 将会不断努力开发新的功能，并为你不定期提供系统更新。</li>
<li>FydeOS 可能会⾃动检测并提醒你安装更新，通过使用 FydeOS，你同意燧炻创新有权对 FydeOS 进行更新，或者对部分功能进行改变或限制。</li>
<li>FydeOS 新版本发布后，旧版本可能无法使用。FydeOS 不保证旧版继续可用及相应地为你服务，请你随时核对并下载最新版本。</li>
<li>如你不再需要使用 FydeOS ，可以自行删除 FydeOS。你已获取的仍在有效期限内的 FydeOS for You 或 FydeOS 企业版许可证，不因删除 FydeOS 而发生中止或终止，你为购买许可证所支付的费用，不因删除 FydeOS 而退还。</li>

</ul>
<h3>三、FydeOS 账号</h3>
<ul>
<li>FydeOS 及其相关产品（如 FydeOS 社区）需要注册绑定账号才可以正常使用。</li>
<li>你须以真实身份注册开通 FydeOS 账号，并保证所提供的资料信息真实、完整、有效，且保证燧炻创新可以通过你所填写的联系方式与你取得联系。注册 FydeOS 账号后，如果所提供的资料信息有所变更，应当及时更新。因资料信息没有及时变更导致的损失，燧炻创新不承担任何责任。</li>
<li>你所提供的信息适用于双方往来联系、书面文件送达及争议解决时法律文书送达。因你提供的联系方式和联系信息错误而无法直接送达的自交邮后第 7 日视为送达。</li>
<li>你应对你的账号负责，只有你本人可以使用你的 FydeOS 账号，该账号不可转让、不可赠与、不可继承。</li>
<li>你应妥善保管并正确、安全地使用账号及密码，对使用该账号及密码进行的一切操作负完全的责任。如你发现有他人冒用或盗用你的账户及密码或任何其他未经合法授权之情形时，应立即以有效方式通知燧炻创新，要求燧炻创新暂停相关服务。同时，燧炻创新应对你的请求做出及时响应，你应理解在此之前，燧炻创新对你的账号中已执行的指令及所导致的你的损失不承担任何责任。对于未尽上述保管义务导致账号密码遗失、账号被盗等情形而给你权利造成损害的，你应自行承担一切由此产生的损失。燧炻创新应积极地采取技术与管理等合理措施保障用户账号的安全、有效。</li>

</ul>
<h3>四、数据信息保护</h3>
<ul>
<li>燧炻创新致力于保护你的信息安全，并为此采取合理的预防措施。除法律法规规定的情形和你的许可外，燧炻创新不会向第三方公开、透露你的个人信息。</li>
<li>在安装和使用 FydeOS 的过程中，FydeOS 将向燧炻创新发送 FydeOS 及其支持设备的信息，该信息包括 FydeOS 的版本、语言、支持设备的 IP 地址、硬件配置信息。燧炻创新通常使用该信息以确认你使用 FydeOS 的最新版本、允许你下载和安装适用于该支持设备的更新版本，而不会作为用于识别你的个人信息；燧炻创新将使用该信息以确保支持设备与燧炻创新服务的交互，你可通过 FydeOS 内的设置限制或在特定情形下限制该交互技术。</li>
<li>为确保使用符合行业标准内容加密技术来保护你的支持设备与燧炻创新之间的信息传输，燧炻创新可能将使用数字证书。为保护上述传输的安全性，你无法禁用该数字证书。通过使用 FydeOS，你特此同意分享该信息及该交互技术。</li>
<li>你在使用 FydeOS 或使用燧炻创新服务的过程中，可能需要填写一些必要的信息。若国家法律法规或政策有特殊规定的，你需要填写真实的身份信息。若你填写的信息不完整，则无法使用 FydeOS 或燧炻创新的服务，或者在使用过程中受到限制。</li>
<li>为创建和支持你的账户、向你提供方便又个性化的服务和活动、以及改进 FydeOS 的功能和可用性，燧炻创新有权收集你某些必要的信息并在上述目的范围内使用和处理。</li>
<li>在法律允许的范围内，燧炻创新可能收集、使用、处理非识别性数据，以改善 FydeOS 或燧炻创新的服务，更好地满足你的需求。</li>
<li>你需要自行负责你的数据安全与备份，你理解并同意 FydeOS 无法提供找回丢失数据等服务。</li>
<li>你理解并同意 FydeOS 的开发是一个持续开发过程，你及其他用户因此而受益。为促进 FydeOS 的持续开发，你可以向燧炻创新提供关于使用、改进或应用 FydeOS 的建议、文件、材料或其他数据（简称「贡献」）。你充分了解并同意燧炻创新可能在 FydeOS 和/或相关产品或服务上使用贡献。除非燧炻创新和你针对任何贡献签署书面文件或本协议另有约定，你授予燧炻创新不可撤销的、永久的、非排他的、世界范围内的、免费的许可，以在开发、示范、展示、许可、修改、复制、分发和出售 FydeOS 和/或相关产品和服务时披露、使用和纳入。同时请确保你的反馈不包含你或者第三方的机密和著作权信息。</li>
<li>你可阅读燧炻创新网站上发布的《隐私声明》进一步了解燧炻创新会如何收集、使用、存储和保护你的个人信息及你享有何种权利。该《隐私声明》可能会不时更新，在上述更新发布后继续使用 FydeOS 或燧炻创新的服务即表示你同意新的条款。</li>
<li>如果你未满 18 周岁，你在使用 FydeOS 前须取得法定监护人的书面同意。</li>

</ul>
<h3>五、用户使用规范</h3>
<ul>
<li><p>除非法律允许、本协议另有规定或燧炻创新的书面许可外，你不得从事下列行为：</p>
</li>
<ul>
<li>出租、出借、分许可、出售、复制或修改 FydeOS，或基于 FydeOS 创造衍生作品，或促使或允许他人作上述行为；</li>
<li>修改或删除 FydeOS 及其副本或任何第三方软件上关于 FydeOS 或第三方的版权声明、商标或其他知识产权声明；</li>
<li>以任何形式或为任何目的，直接或间接对 FydeOS 进行反向工程、反向汇编、反向编译、转换为其他编程语言或者以其他方式尝试发现 FydeOS 的源代码，或对本协议项下获取的任何软件或固件进行任何类似操作；</li>
<li>对 FydeOS 或者 FydeOS 运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据以及 FydeOS 运行所必需的系统数据，予以复制、修改、增加、删除、挂接运行或创作任何衍生作品，包括但不限于使用插件、外挂或非经 FydeOS 授权的第三方工具/服务接入 FydeOS 和相关系统；</li>
<li>通过修改或伪造 FydeOS 运行中的指令、数据，增加、删减、变动 FydeOS 的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论这些行为是否为商业目的；</li>
<li>通过非 FydeOS 开发、授权的第三方软件、插件、外挂、系统，登录或使用 FydeOS 及 FydeOS 服务，或制作、发布、传播上述工具；</li>
<li>自行、授权他人或利用第三方软件对 FydeOS 及其组件、模块、数据等进行干扰；</li>
<li>任何危害 FydeOS 或利用 FydeOS 危害计算机网络安全的行为；</li>
<li>以意图规避 FydeOS 服务条款、违反相应法律法规的方式或超出正常使用范围而使用 FydeOS ；</li>
<li>通过 FydeOS 或 FydeOS 服务向他人发送、诱导或煽动他人发送大量信息；</li>
<li>其他未经 FydeOS 明示授权、许可或违反本协议的行为。</li>

</ul>
<li><p>在使用 FydeOS 和/或 FydeOS 服务时，你不得从事下列行为，或为下列行为提供帮助：</p>
</li>
<ul>
<li>上传、储存、发布、传送、传播或使用违反国家法律、危害国家安全统一、社会稳定、公序良俗、社会公德以及侮辱、诽谤、淫秽、暴力的内容；</li>
<li>上传、储存、发布、传送、传播或使用侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；</li>
<li>上传、储存、发布、传送、传播或使用涉及他人隐私、个人信息或资料的内容；</li>
<li>发布、传送、传播骚扰、广告信息及垃圾信息；</li>
<li>虚构事实、隐瞒真相以误导、欺骗他人；</li>
<li>发布、传送、传播广告信息及垃圾信息；或</li>
<li>从事其他违反法律法规、政策及公序良俗、社会公德等的行为。</li>

</ul>
<li><p>你在使用 FydeOS 时不侵犯任何第三方合法权益，不使用 FydeOS 上传、储存、发布、传送、传播或使用包含以下内容的信息：</p>
</li>
<ul>
<li>侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利；</li>
<li>侵犯他人隐私、个人信息、个人资料；或</li>
<li>其他侵犯其他用户或第三方合法权益。</li>

</ul>
<li><p>你应妥善保管登录和使用 FydeOS 和服务的信息及密码，不向他人透露，并对你未妥善保管账户信息及密码所受到的损失承担全部责任。</p>
</li>

</ul>
<h3>六、用户行为责任</h3>
<ul>
<li>你充分了解并同意，你必须为自己使用 FydeOS 及燧炻创新服务的一切行为负责，包括你利用 FydeOS 或燧炻创新服务储存、发布、传送、传播的任何内容以及由此产生的任何后果。</li>
<li>如燧炻创新发现或收到他人举报你有违反本协议或相关法律法规的行为，我们将采取包括但不限于终止授权许可、停止技术支持、向有关部门移交线索、追究法律责任等措施。你同意并确认这是燧炻创新为维护健康良好的网络环境而采取的必要措施，若由于燧炻创新按照前述约定采取措施而对你产生影响或任何损失的，你同意不追究燧炻创新的任何责任或不向燧炻创新主张任何权利。</li>
<li>你将就任何第三方因你违反上述条款而遭受的所有损害承担责任，同时如燧炻创新因你的违反遭受损失，你也应当赔偿燧炻创新的相关损失。</li>

</ul>
<h3>七、第三方软件及技术</h3>
<ul>
<li>FydeOS 可能会使用第三方软件或技术（例如开源的技术框架、第三方应用商店、公共插件等），这种使用已获得合法授权。</li>
<li>FydeOS 为你提供第三方应用购买和下载服务。第三方应用由第三方开发者提供，使用时可能会向你请求权限。你在购买、下载和使用第三方提供的应用之前，建议你详细了解该应用可能会获取的权限和第三方的隐私声明和政策等。</li>
<li>你同意使用第三方应用时，你将与应用开发者订立合同（下称「第三方协议」）。燧炻创新不是你与第三方应用提供商订立的第三方协议中的一方，因此我们建议你仔细阅读第三方协议及第三方隐私政策。燧炻创新无权也没有义务控制或审查第三方应用提供商所提供产品或服务的内容，对于你在使用此类第三方产品与服务时遭受的权益侵犯，燧炻创新不承担任何责任。燧炻创新不对任何第三方产品或服务的安全性、准确性、稳定性或其他不确定的风险负责，也不为第三方在 FydeOS 提供的任何内容、广告、产品、服务或其他信息作出任何形式的背书。若你不遵守第三方协议和/或第三方隐私政策，第三方可能对你采取法律行动。</li>
<li>通过 FydeOS 购买、下载和使用第三方应用与服务导致的任何争议由第三方服务提供商解决，如因第三方服务的中断、暂停、数据泄露或其他问题引起的争议及损害，燧炻创新对此不承担任何责任。燧炻创新不为第三方软件或技术提供任何客户支持。若你需要支持，需联系第三方服务提供商。</li>
<li>各第三方服务提供商为其产品、服务、内容及所作保证承担全部责任。若出现争议，以第三方服务提供商的产品或服务保证或第三方协议的约定为准。</li>
<li>你理解并同意，燧炻创新将不定期更新 FydeOS ，增强 FydeOS 的功能及性能，无法保证你所购买和使用的第三方应用适用于 FydeOS 所有版本。如出现第三方应用与 FydeOS 不兼容的情形，你需要联系第三方开发者协商解决。</li>
<li>你也许需要接受第三方开发者的协议和收费才能下载和使用他们的应用。你特此确认并知悉，开发者可以保留调整应用价格的权利，并在你购买相应的应用之前适时告知你。新的价格生效后，你需要接受新调整的价格才能够继续使用应用。如果你不同意应用调整后的价格，你有权停止使用本服务。你将需要根据任何适用的相关法律要求纳税。</li>

</ul>
<h3>八、免责申明</h3>
<ul>
<li><p>你明确认可并同意，你使用 FydeOS 需自行承担风险，并承担有关质量满意度、性能、准确性及结果等方面的全部风险。你进一步理解并同意，根据目前行业技术发展水平，尚无法保证完全不发生故障或系统没有漏洞及程序不会出错，并可能因此产生人身或财产损害的风险，你在使用 FydeOS 时应采取必要的措施保障安全性，包括但不限于安全防护措施、数据备份措施等。</p>
</li>
<li><p>燧炻创新向你保证，燧炻创新尽合理商业努力保障 FydeOS 的正常运行及实质上符合 FydeOS 适用的行业标准。</p>
</li>
<li><p>你理解并同意，如燧炻创新和/或其许可方违反上述保证，我们的责任仅限于为你修补或更换 FydeOS。燧炻创新可能会要求你向燧炻创新或其授权方返还或证明 FydeOS 的损坏。</p>
</li>
<li><p>除本协议第 8.3 条明确约定外，在法律允许的最大范围内，燧炻创新明确否认任何形式的所有明示或暗示的保证及条件，包括但不限于，适销性、针对特定用途的适用性和无侵权的默示保证和条件。</p>
</li>
<li><p>安装 FydeOS 可能影响第三方软件、应用软件或第三方服务的可用性，你在安装、使用 FydeOS 的全过程中应自行采取必要的措施以避免对你造成损失，包括但不限于使用环境测试、数据备份等。</p>
</li>
<li><p>燧炻创新不保证 FydeOS 满足你的所有需求、FydeOS 的运行不间断、安全或无错误、或 FydeOS 的所有错误均可被纠正。并且，燧炻创新不对因下列情况引起的缺陷或错误负责：</p>
</li>
<ul>
<li>燧炻创新在官网公告之系统停机维护期间；</li>
<li>除燧炻创新以外的一方修改、错误使用或损坏 FydeOS ；</li>
<li>你未能安装燧炻创新提供的所有系统更新或其他缺陷修复程序；</li>
<li>未根据本协议及 FydeOS 指示或要求正确使用 FydeOS ；</li>
<li>第三方个人电脑、设备、网络或软件的缺陷或错误，或用户操作失误；</li>
<li>因网络服务特性而特有的情况，包括但不限于基础网络运营商故障、计算机或互联网技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击、网络设备或技术提供商的服务延迟或障碍等。</li>

</ul>
<li><p>燧炻创新不对任何非燧炻创新的产品或服务作出保证及承担责任，包括但不限于第三方软件或硬件、互联网连接或计算机网络。</p>
</li>
<li><p>互联网传输无法保证 100% 的安全，你确认具有互联网安全知识，能够自行承担信息传输过程中可能产生的风险。</p>
</li>
<li><p>燧炻创新不因不可抗力造成的 FydeOS 或燧炻创新服务的中断或故障承担责任，不可抗力包括但不限于自然灾害、战争行为、恐怖活动、骚乱、革命、罢工等社会因素、立法变化、政策修改、政府行为及命令、电信部门技术调整等不能预见、不能避免并不能克服的客观情况。</p>
</li>
<li><p>在任何情况下，燧炻创新不因你使用 FydeOS 或燧炻创新服务所引起的、或在任何方面与 FydeOS 或燧炻创新服务有关的任何数据或个人或商业信息的丢失或损坏、任何意外的、间接的、特殊的、惩罚性的、或附带的损害或请求（包括但不限于业务利润损失、业务中断、信息泄露、数据丢失、金钱损失、或取得替代产品及服务的费用）承担责任。</p>
</li>
<li><p>燧炻创新向你免费提供的软件许可，作为免费使用 FydeOS 的对价，除本协议另有约定外，燧炻创新对本协议项下所有事项不承担责任，不论是合同、侵权或其他责任。本责任限制条款在本协议第 8.3 条软件保证救济不能完全弥补你的损失时仍然适用。</p>
</li>
<li><p>你理解并同意，为了向你提供有效的服务， FydeOS 会利用你终端设备的处理器和带宽等资源。FydeOS 使用过程中可能产生数据流量费用，该费用由你承担。</p>
</li>

</ul>
<h3>九、知识产权声明</h3>
<ul>
<li>燧炻创新拥有对燧炻创新官网以及 FydeOS 的所有权利或合法授权，包括但不限于著作权、商标权、专利权、商业秘密等知识产权，与 FydeOS 相关的所有信息内容（包括但不限于文本、图片、音频、视频、图表、标识、版面设计、排版方式、有关数据或电子文档等）及所有衍生作品（包括所有副本和相关资料）均受中国法律法规和相应国际条约的保护。</li>
<li>在燧炻创新协议有效期内，一方（「接受方」）必须对自另一方（「披露方」）所获知的任何非公开信息（包括但不限于技术信息、商业秘密、燧炻创新协议内容）（统称「保密信息」）严格保密，在未事先取得披露方书面同意的情况下，不得向任何第三方披露。接收方同意应仅为履行本协议之目的使用保密信息，并采取必要合理的措施保护披露方的保密信息，接受方保证其因为工作需要接触保密信息的员工将对保密信息严格保密，且其已与其前述员工签订了相应的保密协议。</li>

</ul>
<h3>十、开源许可</h3>
<ul>
<li><p>燧炻创新支持行业技术学习、交流与发展，你被允许对燧炻创新向你公开的源代码实施以下行为：</p>
</li>
<ul>
<li>任意修改源代码；</li>
<li>创造衍生作品。</li>

</ul>
<li><p>你在实施本协议第 10.1 条的行为时，应当遵守以下要求：</p>
</li>
<ul>
<li>不得对燧炻创新未公开的源代码实施该行为；</li>
<li>不得修改或删除任何关于 FydeOS 或第三方的版权声明、商标或其他知识产权声明；</li>
<li>不得利用修改后的源代码或所创造的衍生作品实施任何违反法律法规，有悖公序良俗，危害网络安全，或者侵犯他人信息、人身或财产安全的行为。</li>

</ul>
<li><p>你应当对所修改的源代码或所创造的衍生作品的合法性、安全性、准确性、稳定性或其他不确定的风险负责。对于你所修改的源代码或所创造的衍生作品造成你自身或任何第三方损失的，燧炻创新及 FydeOS 不承担任何责任，造成燧炻创新损失的，你应当向燧炻创新进行赔偿。</p>
</li>

</ul>
<h3>十一、未成年人使用条款</h3>
<ul>
<li>若你未满 18 周岁，则为未成年人，你应当在监护人的监护、指导下阅读本协议以及使用 FydeOS 及相关服务。</li>
<li>监护人应对未成年人使用 FydeOS 及服务时加以监督和引导。</li>

</ul>
<h3>十二、法律管辖</h3>
<ul>
<li>本许可协议受中华人民共和国法律管辖并按该等法律解释，不适用法律冲突规则。如果具有合法管辖权的法院因故裁定本许可协议的任何条款或任何部分不可强制执行，则本许可的其余条款或部分仍具有完整法律效力和作用。</li>
<li>双方发生争议时，所有因本协议引起的或与本协议有关的任何争议，双方应首先通过友好协商解决；如协商未果，任何一方可提交燧炻创新住所地有管辖权的人民法院解决。</li>

</ul>
<h3>十三、其他</h3>
<p>你使用 FydeOS 即视为你已阅读并同意受本协议的约束。FydeOS 有权在必要时修改本协议条款。你可以在 FydeOS 软件的最新版本中查阅相关协议条款。本协议条款变更后，如果你继续使用 FydeOS，即视为你已接受修改后的协议。如果你不接受修改后的协议，应当立即停⽌使用 FydeOS。</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 id="privacy">隐私声明</h2>
<hr />
<p>上一次更新时间：2021 年 9 月 9 日</p>
<hr />
<p>我们十分重视你的隐私。本隐私声明阐述了燧炻创新处理的个人数据以及燧炻创新处理个人数据的方式和目的。</p>
<p>燧炻创新提供了多种产品，本声明中所提到的燧炻创新的产品包括燧炻创新的服务、网站、软件、应用、服务器和设备等。</p>
<p>请阅读本隐私声明中特定于产品的详细信息，这些详细信息提供了其他相关信息。此声明适用于燧炻创新与你之间的互动、下列燧炻创新的产品以及显示此声明的其他燧炻创新的产品。</p>
<h3>我们收集的个人数据</h3>
<p>出于下述各种目的，包括高效运营以及为你提供最佳产品体验，燧炻创新会收集你向我们提供的数据、你与燧炻创新之间的互动数据以及产品使用数据。你直接提供部分此类数据，例如当你创建 FydeOS 帐户、在 FydeOS 社区上发帖、在 FydeOS 内开启使用偏好同步的相关功能、为你的设备购买 FydeOS for You 订阅服务、在 FydeOS 应用商店下载安装程序时等。其他数据则由我们通过你与产品的交互、对产品的使用和体验以及相关通信收集而来。</p>
<p>出于下述各种目的，我们会凭借各种法律理由和许可（有时被称为「法律依据」）来处理数据，这些依据包括征得你的同意、平衡合法利益、有必要签订和执行合同以及履行法律义务。</p>
<p>我们或许还从第三方获取数据。我们保护根据本声明中描述的惯例以及数据源所施加的任何其他限制从第三方获取的数据。这些第三方源随着时间的推移而变化，并且包含：</p>
<ul>
<li>通信服务，包括电子邮件提供商和社交网络（前提是你允许我们访问你在此类第三方服务或网络上的数据）。</li>
<li>合作伙伴，我们与这些合作伙伴一起提供联合品牌服务或参与联合市场营销活动。</li>
<li>公开提供的源，例如开放式政府数据库。</li>

</ul>
<p>对于你使用的技术和共享的数据，你可以做出不同的选择。当我们请求你提供个人数据时，你可以拒绝。我们的很多产品都需要你提供某些个人数据，以便运行并向你提供服务。如果你选择不提供某个产品或功能所需的数据，则无法运行和使用该产品或功能。同样，如果我们需要依法收集个人数据，或者需要与你签订合同或对你履行合同，但你没有提供数据，那么我们将无法签订合同；或者如果这涉及到你正在使用的现有产品，那么我们可能必须暂停或取消你的使用权。如果属于上述情况，我们将通知你。在不强制要求提供数据的情况下，如果你选择不共享个人数据，那么你将无法使用需要提供此类数据的功能（如使用偏好同步功能）。</p>
<p>我们收集的数据取决于你与燧炻创新的产品互动的环境、你所做的选择（包括你的隐私设置）、你所使用的产品和功能、你的位置以及适用法律。</p>
<p><strong>我们收集的数据可能包括：</strong></p>
<ul>
<li><p><strong>姓名和联系方式数据：</strong>你的姓氏和名字、昵称、头像、电子邮件地址、手机号码以及其他类似的联系方式数据。</p>
</li>
<li><p><strong>凭据：</strong>已加密的密码、以及用于验证和帐户访问的类似安全信息。</p>
</li>
<li><p><strong>统计数据：</strong>与你有关的数据，如你的性别、所在国家/地区和首选语言。</p>
</li>
<li><p><strong>付款数据：</strong>处理付款所需的数据，如你的付款方式（如支付宝、PayPal 账号）、所付款项对应的设备或账号的识别码，以及与你的付款方式相关的安全码。</p>
</li>
<li><p><strong>订阅和授权数据：</strong>有关你的订阅、许可证和其他权利的信息。</p>
</li>
<li><p><strong>交互数据：</strong>有关你的燧炻创新产品使用情况的数据。在某些情况下，如搜索查询时，此类数据由你出于使用产品的目的而提供。在其他情况下，如报告错误时，此类数据由我们生成。其他交互数据示例包括：</p>
</li>
<ul>
<li><p><strong>设备和使用情况数据：</strong>有关你的设备以及你所使用的产品和功能的数据，包括有关你的硬件信息、我们的产品性能以及你的设置的信息。例如：</p>
</li>
<ul>
<li>你所使用的硬件之生产厂商、型号及相关描述性信息。</li>
<li>你所使用燧炻创新软件产品的版本号及相关配置信息。</li>
<li>你所使用燧炻创新软件产品方式（在可选时）的选择，比如你对「账号类型」的选择。</li>
<li>你所使用燧炻创新软件产品的时间和时间相关的信息，比如账号首次创建的时间、上次登录的时间、上次登出的时间等。</li>
<li>有关你的设备、设备配置和附近网络的数据。例如，有关操作系统和设备上安装的其他软件的数据。此外还有 IP 地址、设备标识符、区域和语言设置及有关设备附近的 WLAN 访问点的信息。</li>
<li>有关产品性能和你所遇到的任何问题的数据，包括错误报告。错误报告（有时称为「故障转储」）可能包括与错误相关的软件或硬件的详细信息、发生错误时打开的文件的内容，以及与设备上的其他软件有关的数据。</li>
<li>你在联系燧炻创新寻求帮助时提供的数据，如你使用的产品和其他可帮助我们提供支持的详细信息。例如，联系人或身份验证数据、与燧炻创新之间的聊天以及其他通信的内容、关于设备以及你所使用的帮助查询相关产品的状况数据。当你联系我们时，如为寻求客户支持而联系我们时，与我们代表之间的聊天会话可能会被监视和记录。</li>
<li>通过燧炻创新产品与第三方机器人和技能的互动。</li>

</ul>
<li><p>使用偏好同步数据。当你在使用燧炻创新软件产品且开启「同步」相关功能时，根据你的具体设置，以下信息会被记录：</p>
</li>
<ul>
<li>你在 FydeOS 商店所安装的浏览器插件及各类应用程序。</li>
<li>你的对燧炻创新软件产品的设置项，比如浏览器相关设置选项以及操作系统相关设置选项。</li>
<li>你在使用燧炻创新软件产品时所产生的数据，比如浏览器的书签、下载内容的记录、阅读清单、打开的标签页等。</li>

</ul>

</ul>

</ul>
<h3>我们如何使用个人数据</h3>
<p>燧炻创新使用收集的数据为你提供丰富的交互式体验。我们使用数据的典型目的包括：</p>
<ul>
<li>提供我们的产品，包括进行更新、保护和疑难解答，以及提供支持。在需要使用数据来提供服务或执行你请求的交易时，还包括共享数据。</li>
<li>改进和开发我们的产品。</li>
<li>个性化我们的产品并提出建议。</li>

</ul>
<p>我们还使用数据来运营业务，其中包括分析我们的绩效、遵守法律义务、壮大员工队伍以及进行调查。</p>
<p>为了实现这些目标，我们会合并从不同环境中（例如在使用两个燧炻创新产品的过程中）收集的数据。例如，你可以在 FydeOS 社区通过提交已经支付订阅费用的设备 ID 来解锁「Patron」标志以获得付费用户的相关特权。但是，我们采用了内置技术和程序保障措施，专门用于在法律要求的情况下防止特定的数据结合。例如，在法律要求的情况下，我们将你未进行身份验证（未登录）时从你那里收集的数据与任何可直接标识你的帐户信息（例如你的姓名、电子邮件地址或手机号码）分开保存。</p>
<p>为实现这些目标而进行的个人数据处理包括自动和手动（人工）处理方法。自动方法通常与手动方法相关，并以手动方法为辅。例如，自动方法中的人工智能 (AI) 可以视为一组技术，使计算机能够感知、学习、推理和协助决策，以通过类似人为的方式来解决问题。为构建、培训自动处理方法（包括 AI）并提高其准确性，我们根据预测和推断所依据的基础数据，手动检查通过自动方法产生的某些预测和推断。这一手动审查工作可能由代表燧炻创新工作的燧炻创新员工或供应商进行。</p>
<p>我们处理关于你的个人数据时，必先取得你的同意并且/或者在需要时提供你使用的产品、运营我们的业务、履行我们的合同和法律义务、保护我们系统和客户的安全，或履行本部分和本隐私声明的我们共享个人数据的原因部分中所述的燧炻创新的其他合法利益。</p>
<p><strong>关于我们如何使用个人数据的详细信息：</strong></p>
<ul>
<li><strong>提供我们的产品。</strong>我们使用数据运行我们的产品，并为你提供丰富的交互式体验。例如，如果你注册 FydeOS 账户，那么我们有必要在服务端数据库里为存储你的身份信息以及凭据信息，以便你下次完成登录的操作。或者，例如，如果你使用 FydeOS 社区，那么我们会在你完成编辑并发出帖子的时候上传你提交的内容。此外，因为通信是各种产品、计划和活动的一项功能，所以我们会使用数据与你联系。例如，我们可能会通过社区私信、电子邮件或其他方式与你联系，以在订阅结束时通知你或讨论你的许可帐户。我们还会与你进行通信以确保产品安全，例如告诉你产品更新的可用时间。</li>
<li><strong>产品改进。</strong>我们使用数据不断改进我们的产品，包括添加新的特性或功能。例如，我们使用错误报告改进安全功能、发现潜在的系统问题以及提升软件产品的使用体验。</li>
<li><strong>个性化。</strong>许多产品包括个性化功能，例如用于提高效率和增加乐趣的建议。这些功能使用自动化流程根据我们所具有的关于你的数据（例如我们对你的推断以及你的产品使用情况、活动、兴趣和位置）来定制你的产品体验。例如，根据你的设置，如果你在 FydeOS 设备上的浏览器中流式传输电影，则可能会看到 FydeOS 应用商店中关于更有效地进行流式传输的应用推荐。如果你有 FydeOS 帐户，经你允许，我们可以在一些设备上同步你的设置。我们的很多产品都提供用于禁用个性化功能的控件。</li>
<li><strong>产品激活。</strong>我们使用数据（例如，设备和应用程序类型、位置和独特的设备、应用程序、网络和订阅标识符）来激活需要激活的产品。</li>
<li><strong>产品开发。</strong>我们使用数据来开发新的产品。例如，我们使用通常已去除身份识别的数据，以更好地了解客户的计算和生产力需求，这些需求可能会影响新产品的开发。</li>
<li><strong>客户支持。</strong>我们使用数据来排查和诊断产品问题、维修客户的设备以及提供其他客户关怀和支持服务，其中包括协助提供产品、服务和培训，提升和保证产品、服务和培训的质量以及调查安全事件。</li>
<li><strong>帮助进行保护和疑难解答。</strong>我们使用数据来帮助进行产品保护和疑难解答。这包括使用数据来保护我们的产品和客户的安全，检测恶意软件和恶意活动，解决性能和兼容性问题以帮助客户充分利用产品，以及将产品更新通知给客户。这可能包括使用自动化系统检测安全问题。</li>
<li><strong>安全和更新。</strong>我们使用所收集的数据开发产品更新和安全修补程序。例如，我们可能会使用有关你的设备功能（如可用内存）的信息为你提供软件更新或安全修补程序。更新和修补程序旨在最大限度地提高使用我们产品的体验、帮助保护数据的隐私和安全、提供新功能，并评估你的设备是否准备好处理此类更新。</li>
<li><strong>促销通信。</strong>我们利用收集的数据提供促销通信。你可以注册电子邮件订阅和选择是否通过电子邮件、短信、实体邮件和电话接收燧炻创新的促销通信。有关管理联系人数据、电子邮件订阅和促销通信的信息，请参阅本隐私声明的如何访问和控制你的个人数据部分。</li>
<li><strong>相关产品/服务。</strong>燧炻创新使用数据为你提供有关我们产品的重要相关信息。我们会分析各种来源的数据，以预测你最感兴趣且与你最相关的信息，并以多种方式向你提供这些信息。例如，我们可能会预测你云文件存储的需求并告诉你有关你可能感兴趣的云盘供应商的相关信息。</li>
<li><strong>有奖促销和活动。</strong>我们使用你的数据管理燧炻创不定期举办的有奖促销和活动。例如，如果你参加有奖促销活动，我们可能使用你的数据来选择获奖者，并在获奖时为你提供奖品。</li>
<li><strong>进行商务交易。</strong>我们使用数据来执行你与我们的交易。例如，我们会处理付款信息以向你提供产品订阅，并使用联系信息交付从燧炻创新购买商品。</li>
<li><strong>报告和业务运营。</strong>我们使用数据来分析我们的运营情况，并执行商业智能。这样，我们就能够制定明智的决策并制定业务绩效报告。</li>
<li><strong>保护权利和财产。</strong>我们使用数据来检测和防止欺诈、解决纠纷、履行协议，并保护我们的财产。例如，我们使用数据来确认软件许可证的有效性以减少盗版。我们可能会使用自动化流程来检测和阻止侵犯我们和其他人的权利的活动，如欺诈。</li>
<li><strong>合法性。</strong>我们会依法处理数据。例如，我们利用客户年龄来帮助我们履行保护儿童隐私的义务。我们还会处理联系人信息和凭据，以帮助客户行使他们的数据保护权利。</li>
<li><strong>研究。</strong>我们会出于公共利益和科学目的而使用数据进行研究，但会通过相应的技术和组织措施来保护个人的权利和自由。</li>

</ul>
<h3>我们共享个人数据的原因</h3>
<p>我们在征得你同意后，或以完成某些交易/提供你请求或授权的产品为必要前提，共享你的个人数据。如果你使用所属组织（例如你的单位或学校）提供的燧炻创新产品，或使用此类组织提供的电子邮件地址访问燧炻创新产品，我们将共享特定的数据（例如交互数据和诊断数据），以便你的组织能够管理这些产品。当你提供支付数据进行交易时，我们可能会与银行、处理付款交易的其他机构或其他金融服务机构共享你的付款数据，以预防诈骗和降低信用风险。</p>
<p>此外，我们在燧炻创新控股的分公司和子公司之间共享个人数据。我们还与代表我们的供应商或代理机构共享个人数据，以实现本声明中的目的。例如，我们聘来提供客户服务支持或帮助保护和保障我们的系统与服务安全的公司可能需要访问个人数据，以便提供这些功能。在这种情况下，这些公司必须遵守我们的数据隐私和安全要求，不得出于任何其他目的使用从我们这里收到的个人数据。作为企业交易的一部分（如合并或出售资产），我们也可能披露个人数据。</p>
<p>最后，本着诚信原则，在以下必要的情况下，我们将保留、访问、转移、披露和保存个人数据：</p>
<ul>
<li>遵循适用法律或响应有效法律程序，包括执法机关或者其他政府机关。</li>
<li>保护我们的客户，例如帮助防止死亡或严重人身伤害。</li>
<li>运行和维护产品的安全，包括防止或阻止攻击我们的计算机系统或网络。</li>
<li>保护燧炻创新的权利或财产，包括履行约束服务使用条款。但是，如果我们收到信息，表明有人正使用我们的服务交易盗取的燧炻创新知识或实际财产，我们不会亲自检查客户的私密内容，但可能会交由执法部门处理。</li>

</ul>
<p>请注意，我们的某些产品包含指向或提供第三方产品的链接，其隐私策略与燧炻创新的隐私策略不同。如果你向其中任意产品提供个人数据，你的数据由他们的隐私策略管辖。</p>
<h3>如何访问和控制你的个人数据</h3>
<p>你可以针对燧炻创新对你数据的收集和使用进行选择。你可以通过联系燧炻创新或使用我们提供的各种工具来控制燧炻创新所获得的你的个人数据，并行使你的数据保护权利。在某些情况下，根据适用法律的要求或许可，你访问或控制自己个人数据的能力将受限。你访问或控制自己个人数据的方式也取决于你所使用的产品。例如，你可以：</p>
<ul>
<li>选择是否希望接收来自燧炻创新的推广及新闻类电子邮件。</li>
<li>登录 FydeOS 社区对社区内容提醒邮件的发送频率和方式进行调整。</li>
<li>通过 FydeOS 账户管理后台进行个人数据的修改，包括删除账户。</li>

</ul>
<p>你可以使用燧炻创新提供给你的工具（如下所述）来访问和控制燧炻创新已获得的你的个人数据，例如：</p>
<ul>
<li>你同意燧炻创新使用你的个人数据，也可以随时要求撤销。</li>
<li>你可以请求访问、擦除和更新你的个人数据。</li>

</ul>
<p>根据适用法律，包括欧盟《一般数据保护条例》(GDPR)，你可能拥有这些权利，但是我们为你提供这些权利与你所在的位置无关。在某些情况下，根据适用法律的要求或许可，你访问或控制自己个人数据的能力将受限。如果你的组织（例如单位、学校或服务提供者）为你提供了燧炻创新产品访问权限并对你的产品使用行为进行管理，请联系你的组织以详细了解如何访问和控制你的个人数据。</p>
<p>你可以使用我们提供的各种工具来访问和控制燧炻创新所获得的你的个人数据，并行使你的数据保护权利。对你最有用的工具将取决于我们与你之间的互动以及你对我们产品的使用。以下是我们提供的用于帮助你控制个人数据的一般工具列表；特定产品可能会提供更多控制工具。</p>
<ul>
<li><strong>FydeOS 社区设置界面：</strong>你可以在 FydeOS 社区的管理界面对你在 FydeOS 社区的相关数据（如你发出的帖子、评论及私信）进行修改，以及配置 FydeOS 社区联系你的方式及频率。</li>
<li><strong>FydeOS 帐户后台管理界面：</strong>如果你希望访问、编辑或删除你的 FydeOS 帐户中的个人资料信息和支付信息，更改密码，添加安全信息或关闭你的帐户，你都可以访问 FydeOS 账户网站。</li>

</ul>
<h3>由组织提供的产品 – 最终用户声明</h3>
<p>如果你使用所属组织提供的账户使用燧炻创新产品，例如工作或学校账户，你所属的组织可以：</p>
<ul>
<li>控制和管理你的燧炻创新产品和产品帐户，包括控制产品或产品帐户的隐私相关设置。</li>
<li>访问和处理你的数据，包括交互数据、诊断数据和与燧炻创新产品和产品帐户关联的通信和文件的内容。</li>

</ul>
<p>如果你无法访问你的工作或学校帐户（例如，如果发生工作变更），则在你使用过你的工作或学校帐户登录到产品的情况下，你可能无法访问此类产品以及与这些产品关联的内容，包括你为自己获取的产品或内容。</p>
<p>燧炻创新提供许多产品供学校和企业之类的组织使用。如果组织为你提供了燧炻创新产品的访问权限，则使用燧炻创新产品时应遵守贵组织的政策（如果有）。你应该向组织管理员提出隐私查询要求，包括任何行使数据保护权利的请求。当你使用燧炻创新产品中的社交功能时，你网络中的其他用户可能会看到你的某些活动。若要了解有关社交功能和其他功能的详细信息，请查看特定于燧炻创新产品的文档或帮助内容。客户的隐私或安全政策可能与本隐私声明中阐述的隐私或安全政策有所不同，燧炻创新对客户的隐私或安全政策不负任何责任。</p>
<p>当你使用组织提供的燧炻创新产品时，燧炻创新处理与该产品相关的个人数据受燧炻创新与你组织之间的合同约束。燧炻创新对你的个人数据进行处理，以向你和你的组织提供产品，以及在某些情况下进行与此相关的燧炻创新合法业务运营。如上所述，如果你对燧炻创新为向组织提供产品而处理你的个人数据有疑问，请与你的组织联系。如果你对与向组织提供产品相关的燧炻创新合法业务运营有疑问，请与燧炻创新联系。</p>
<p>针对面向中小学提供的燧炻创新产品，燧炻创新将：</p>
<ul>
<li>不会收集或使用除经授权的教育或学校用途所需数据之外的学生个人数据；</li>
<li>不会出售或出租学生个人数据；</li>
<li>不会使用或共享学生个人数据以实现广告或类似商业用途，例如针对学生的行为定向广告投放；</li>
<li>不会创建学生个人档案，除非用于支持经授权的教育或学校用途，或事先经过家长、监护人或达到相应年龄的学生授权；且</li>
<li>要求使用共享的学生个人数据提供教育服务的供应商（如果有）履行上述针对学生个人数据的承诺。</li>

</ul>
<h3>FydeOS 帐户</h3>
<p>使用 FydeOS 帐户，你可以登录 FydeOS 产品以及选定 FydeOS 合作伙伴的产品。与 FydeOS 帐户关联的个人数据包括凭据、姓名和联系人数据、付款数据、设备和使用情况数据、你的联系人、有关你的活动的信息，以及你的兴趣和爱好。登录到你 FydeOS 帐户后，你可以实现跨产品和设备实现个性化和一致体验，使你能够使用云数据存储并使用存储在你 FydeOS 帐户中的付款方式付款，还可启用其他功能。有三种类型的 FydeOS 帐户：</p>
<ul>
<li>当你创建与个人手机号码及电子邮件地址相关的自己的 FydeOS 帐户时，我们将该帐户称为 <strong>FydeOS 个人帐户</strong>。</li>
<li>当你或你的组织（例如单位或学校）创建与该组织提供的电子邮件地址相关的 FydeOS 帐户时，我们将该帐户称为<strong>工作或学校帐户</strong>。</li>
<li>当你或你的服务提供商创建与你的电子邮件地址（包含服务提供商的域）相关的 FydeOS 帐户时，我们将该帐户称为<strong>第三方帐户</strong>。</li>

</ul>
<h5>FydeOS 个人帐户</h5>
<p>与你的个人帐户关联的数据以及使用这些数据的方式取决于你使用该帐户的方式。</p>
<ul>
<li><strong>创建你的 FydeOS 帐户。</strong>创建你的个人 FydeOS 帐户时，我们将请求你提供某些个人数据，并分配一个唯一的 ID 号，用于识别你的帐户和相关信息。尽管某些产品（如涉及到支付的服务）要求提供真名，你可以在不提供真名的情况下登录和使用其他 FydeOS 产品。你提供的一些数据（如你的显示名称、电子邮件地址和手机号码）可用于帮助别人找到你并与你在燧炻创新的产品内建立联系。例如，当用户知道你的 FydeOS 社区昵称时，可以通过搜索找到你的发言并进行回复。请注意，在某些情况下，如果你使用工作或学校电子邮件地址试图创建 FydeOS 个人帐户，系统会自动归类为工作或学校账户，则你的单位或学校可以访问你的数据。所以，在某些情况下，你需要将电子邮件地址更改为个人电子邮件地址，以便继续访问面向个人的产品。</li>
<li><strong>登录到 FydeOS 帐户。</strong>当你登录你的 FydeOS 帐户时，我们将创建你的登录记录，其中包括日期和时间、关于所登录产品的信息、你的登录名、分配给你的帐户的唯一号码、分配给你的设备的唯一标识符、你的 IP 地址以及你的操作系统和浏览器版本。</li>
<li><strong>登录到燧炻创新的其它软件产品。</strong>使用 FydeOS 账户登录燧炻创新的软件产品可以提高该产品的个性化水平，提供跨产品和设备的无缝和一致体验，还可启用其他增强的功能和设置。登录到帐户后，你将保持登录状态，直到注销为止。如果你将你的 FydeOS 帐户添加到 FydeOS 设备，那么当你在该设备上访问使用 FydeOS 帐户的产品时，FydeOS 将使你自动登录这些产品。当你登录时，某些产品将显示你的姓名或用户名以及你的个人资料照片（如果你已添加到个人资料）作为你使用 FydeOS 产品的一部分，包括你的头像、昵称、社交互动和你选择公开的邮箱地址。</li>
<li><strong>登录第三方产品。</strong>如果你使用 FydeOS 帐户登录第三方产品，则将根据第三方的隐私策略与第三方共享数据。该第三方也将收到分配到你的帐户的版本号（你每次更改你的登录数据时，都会分配一个新的版本号）；以及描述你的帐户是否已停用的信息。如果你共享你的个人资料数据，则当你登录到该第三方产品时，第三方可能会显示你的姓名或用户名和个人资料头像（如果你已向个人资料添加头像）。如果你通过你的 FydeOS 帐户向第三方商家付款，我们将根据需要把你 FydeOS 帐户中存储的信息传递给第三方或其供应商（例如付款处理商），以处理付款和完成订单（如姓名、信用卡卡号、帐单和送货地址，以及相关联系人信息）。第三方可根据其惯例和策略使用或共享其在你登录或购物时收到的数据。 <strong>你应该仔细查看你登录的每个产品的隐私声明以及每个你通过其进行购买的商家，以确定它将如何使用收集到的数据。</strong></li>

</ul>
<h5>工作或学校帐户</h5>
<p>与工作或学校帐户相关的数据及其使用方式通常与使用和收集与个人 FydeOS 帐户相关的数据方式类似。如果你使用工作或学校帐户登录到 FydeOS 产品，请注意：</p>
<ul>
<li>与你的电子邮件地址相关的域的所有者可以控制和管理你的帐户，并访问和处理你的数据，包括你的通信和文件的内容，还包括贵组织提供给你的产品以及你自己获得的产品中存储的数据。</li>
<li>你对这些产品的使用需要遵守你的组织的相关政策（如果有）。在选择使用工作或学校帐户登录你自己获取的产品之前，你应该考虑组织的策略，以及是否适合允许组织访问你的数据。</li>
<li>如果你无法访问你的工作或学校帐户（例如，你改变了单位），则在你使用过你的工作或学校帐户登录到产品的情况下，你可能无法访问产品，包括与你为自己获取的那些产品关联的内容。</li>
<li>你的组织的隐私或安全政策可能与 FydeOS 的有所不同，FydeOS 对客户的隐私或安全政策不负任何责任。</li>
<li>如果你的组织正在管理你对 FydeOS 产品的使用，请向你的管理员提出隐私查询要求，包括任何行使数据主体权利的请求。另请参阅本隐私声明的最终用户声明部分。</li>
<li>如果你不确定你的帐户是否是工作帐户或学校帐户，请与你的组织联系。</li>

</ul>
<h5>第三方帐户</h5>
<p>与第三方 FydeOS 帐户相关的数据及其使用方式通常与使用和收集与个人 FydeOS 帐户相关的数据类似。你的服务提供商控制你的帐户，并且可以访问或删除你的帐户。<strong>你应该仔细查看第三方向你提供的条款，以了解它可使用你的帐户执行哪些操作。</strong></p>
<h3>收集儿童数据</h3>
<p>如果燧炻创新的产品收集年龄，并且在你的管辖区域规定低于某个年龄需要父母同意或授权才能使用该产品，那么，将会阻止低于该年龄的用户使用该产品，或者要求他们提供父母或监护人的同意或授权才能使用。除了提供产品所需要的信息外，我们不会刻意要求不足该年龄的儿童提供其他更多数据。</p>
<p>征得家长同意或授权后，子女帐户即被视为等同于其他任何帐户。孩子可以使用通信服务，并且可以与所有年龄的其他用户自由通信和共享数据。</p>
<p>家长或监护人可以更改或撤消之前的同意选择，并可以查看、编辑或请求删除已获得其同意或授权的儿童的个人数据。作为燧炻创新家庭组的组织者，家长或监护人可以在他们的家庭安全页面上管理子女的信息和设置，并在隐私仪表板上查看和删除子女的数据。</p>
<h3>企业和开发人员产品</h3>
<p>企业和开发人员产品是主要供组织和开发人员使用而提供和设计的燧炻创新产品和相关软件。这些选项包括：</p>
<ul>
<li>FydeOS 企业解决方案所使用的相关云服务和组件，如企业集管策略管理服务、企业级远程桌面服务、企业账户数据上行和可视化服务等。</li>
<li>由燧炻创新维护的 openFyde 开源项目以及所需要的依赖软件包及代码库。</li>

</ul>
<p>如果客户与燧炻创新针对企业和开发人员产品签署的任何协议的条款与本隐私声明中的条款有冲突，将以这些协议的条款为准。在产品文档中，你还可以了解有关企业和开发人员产品的功能和设置的详细信息，包括会影响你的隐私或最终用户的隐私的选择。</p>
<ul>
<li>当客户试用、购买、使用或订阅企业和开发人员产品，或者获取针对此类产品的支持或专业服务时，燧炻创新会从用户处接收数据，并收集和生成数据以提供服务（包括与改进、保护和更新服务）、进行合法业务运营并与客户通信。例如：</li>
<li>当客户与燧炻创新销售代表接洽时，我们会收集客户的姓名和联系人数据以及有关客户组织的信息，以支持该互动。</li>
<li>当客户与燧炻创新支持专业人员互动时，我们会收集设备和使用情况数据或错误报告以诊断和解决问题。</li>
<li>当客户为产品付款时，我们会收集联系人和支付数据以用于处理该笔付款。</li>
<li>当燧炻创新向客户发送沟通信息时，我们会使用数据个性化沟通信息的内容。</li>
<li>当客户与燧炻创新接洽以获取专业服务时，我们将收集客户指定联系点的名称和联系人数据，并使用客户提供的信息执行客户要求的服务。</li>

</ul>
<p>利用企业和开发人员产品，你能够购买、订阅或使用燧炻创新的产品或具有不同隐私惯例的第三方的其他产品和在线服务，这些其他产品和在线服务遵循其各自的隐私声明和惯例。</p>
<h3>其他重要隐私信息</h3>
<h5>个人数据安全</h5>
<p>燧炻创新致力于保护你的个人数据的安全。我们采用各种安全技术和步骤来帮助保护你的个人数据，以防在未经授权的情况下擅自访问、使用或披露此类数据。例如，我们将你的个人数据存储在位于受控场所的计算机系统中，并限制这些系统的访问权限。当我们在互联网上传送高度机密的数据（例如密码）时，我们使用加密技术来保护这些信息的安全。燧炻创新会遵守适用的数据保护法律，包括适用的安全漏洞通知法律。</p>
<h5>Cookie</h5>
<p>你使用燧炻创新的某些网络服务时，我们会在你的计算机或移动设备上存储名为 Cookie 的小数据文件。Cookie 通常包含标识符、站点名称以及一些号码和字符。我们使用该等信息判断注册用户是否已经登录，提升服务/产品质量及优化用户体验。如你不希望个人信息保存在 Cookie 中，可对浏览器进行配置，选择禁用 Cookie 功能。你可根据自己的偏好管理或删除 Cookie。你可以清除计算机上保存的所有 Cookie，大部分网络浏览器都设有阻止 Cookie 的功能。</p>
<h5>我们存储和处理个人数据的位置</h5>
<p>燧炻创新收集的个人数据可在你所在地区、中国以及燧炻创新或其关联公司、子公司或服务提供商设有机构的任何其他国家/地区进行存储和处理。燧炻创新在中国北京、杭州、宁夏以及英国伦敦和德国法兰克福均有租用数据中心。通常，主要存储位置为客户所在区域，在此基础上我们通常会在另一区域的某个数据中心中存有备份。选择存储位置是为了更高效运营、提高性能并创建冗余以便在发生中断或其他问题时保护数据安全和完整性。</p>
<h5>我们对个人数据的保留</h5>
<p>只要出于提供产品和完成你所请求的事务或其他合法目的（如遵守法律义务、解决纠纷和履行协议），燧炻创新将根据需要保留个人数据。由于这些需求可能会因不同的数据类型、我们与你之间的互动背景或你的产品使用情况而异，因此实际保留期可能会有很大差异。</p>
<p>用于确定保留期的其他条件包括：</p>
<ul>
<li><strong>用户提供、创建或维护数据时，是否期望我们将这些数据保留到客户确定要将其删除为止？</strong> 例如用户在 FydeOS 社区上发起新的帖子或回复。在这种情况下，我们旨在将一直维护数据直到用户主动将其删除。</li>
<li><strong>有无使用户可以随时访问和删除个人数据的入口途径，如 FydeOS 账户设置页面？</strong>如果没有，通常会采用缩短的数据保留时间。</li>
<li><strong>个人数据是否属于敏感类型？</strong> 如果是，通常将采用缩短的保留时间。</li>
<li><strong>用户是否同意延长保留期？</strong>如果是，我们将根据你的同意保留数据。</li>
<li><strong>燧炻创新是否具有保留或删除该数据的法律、合同或类似义务？</strong> 比如适用管辖区的强制数据保留法律，保留调查相关数据或保留以用于诉讼用途的数据的政府命令。相反，如果法律要求我们删除不合法的内容，我们将执行此操作。</li>

</ul>
<h5>预览版本或免费版本</h5>
<p>燧炻创新提供预览版、内测版或其他免费产品和功能，以使你能够对它们进行评估，同时向燧炻创新提供你的产品使用情况数据，包括反馈以及设备和使用情况数据。因此，预览版本会自动收集其他数据、提供更少的控件，或者采用与我们的产品中通常呈现的不同的隐私与安全措施。如果你参与预览版本的测试，我们可能会联系你，以获取你的反馈，或者了解你是否有兴趣在正式版推出后继续使用该产品。</p>
<h5>对本隐私声明的更改</h5>
<p>我们会在必要时更新本隐私声明以增加透明度或更加积极地响应：</p>
<ul>
<li>客户、监管机构、行业或其他利益相关方的反馈。</li>
<li>我们的产品变更。</li>
<li>我们的数据处理活动或策略的变更。</li>

</ul>
<p>在发布本隐私声明的更改时，我们将修订本隐私声明顶部的「最后更新日期」。如果声明中有重要的更改，例如更改了处理个人数据的目的，从而与最初收集数据的目的不一致，那么我们会在更改生效前通过在显著位置发布有关这些更改的通知或通过直接向你发送通知来通知你。我们鼓励你定期查看本隐私声明，以便了解燧炻创新如何保护你的信息。</p>
<h5>如何联系我们</h5>
<p>当你对本指引有任何疑问，可以发送邮件至 privacy@fydeos.io 咨询，我们设立了个人信息保护专职部门，将及时解决你的问题。对于你的合理请求，我们将于 15 日内做出回应。</p>
<p>为保障安全，我们会先要求你验证自己的身份，然后再处理你的请求。你需要提供书面请求，或以其他方式证明你的身份。 但在以下情形中，按照法律法规要求，我们将无法响应你的请求：</p>
<ul>
<li>与国家安全、国防安全直接相关的；</li>
<li>与公共安全、公共卫生、重大公共利益直接相关的；</li>
<li>与犯罪侦查、起诉、审判和判决执行等直接相关的；</li>
<li>有充分证据表明你存在主观恶意或滥用权利的；</li>
<li>响应你的请求将导致你或其他个人、组织的合法权益受到严重损害的。</li>
<li>涉及商业秘密的。</li>

</ul>
<p><strong>如果你有技术问题或支持问题，请访问 FydeOS 社区。</strong></p>
</body>
</html>
