{
  "name": "com.google.chrome.remote_assistance",
  "description": "{{ IT2ME_HOST_DESCRIPTION }}",
  "type": "stdio",
  "path": "{{ IT2ME_HOST_PATH }}",
  {# If you modify the list of allowed_origins, don't forget to update
   # chrome/browser/extensions/api/messaging/native_message_host_chromeos.cc
   # to keep the two lists in sync. #}
  "allowed_origins": [
    {# FydeOS Remote Desktop #}
    "chrome-extension://ljkfnggfkjcmfpcpoomhmhkgeeakhgig/",
    {# FydeOS Remote Desktop Extension#}
    "chrome-extension://fogdcaodknbhigpklbhepedofamkfbln/",
    {# Chrome App (Dev Build) #}
    "chrome-extension://ljacajndfccfgnfohlgkdphmbnpkjflk/",
    {# Chrome Extension (Prod) #}
    "chrome-extension://inomeogfingihgjfjlpeplalcfajhgai/",
    {# Chrome Extension (Dev Build) #}
    "chrome-extension://hpodccmdligbeohchckkeajbfohibipg/"
  ]
}
