<!--
Copyright 2023 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<style>
  #container {
    display: flex;
    justify-content: right;
    min-height: 0;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 10;
  }

  #notice {
    border-radius: 4px;
    color: var(--google-grey-700);
    font-size: 13px;
    padding: 20px;
    text-align: right;
    width: 722px; /* same as #signin-banner */
  }
</style>

<div id="container">
  <div id="notice">[[noticeContent]]</div>
</div>
